.DS_Store
dist/
paxdesign-booking/ios-live-chat/build/
paxdesign-booking/ios-live-chat/DerivedData/
paxdesign-booking/ios-live-chat/.build/
paxdesign-booking/ios-live-chat/PAXDesignLiveChat.xcodeproj/
